<!DOCTYPE HTML>
<html lang="<%= config.language %>">
<head>
    <%- partial('_partial/head') %>
</head>

<body>
    
<%- partial('_partial/header') %>
<%- body %>
<%- partial('_partial/footer') %>

<%- partial('_partial/search') %>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=280 
height=86 src="//music.163.com/outchain/player?type=2&id=1361144868&auto=1&height=66">
</iframe>
<%- partial('_partial/back-top') %>


<script src="/libs/materialize/js/materialize.min.js"></script>
<script src="/libs/masonry/masonry.pkgd.min.js"></script>
<script src="/libs/aos/aos.js"></script>
<script src="/libs/scrollprogress/scrollProgress.min.js"></script>
<script src="/libs/lightGallery/js/lightgallery-all.min.js"></script>
<script src="/js/matery.js"></script>
</body>
</html>